  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>This project</h2>
              <p>The Science Pulse is sponsored by the <a href="https://icfj.org" target="_blank">International Center for Journalists</a> with support from the <a href="https://knightfoundation.org/" target="_blank"> Knight Foundation</a>, and was developed by the data-driven agency <a href="https://voltdata.info" target="_blank">Volt Data Lab</a> to help inform journalists around scientific topics, especially for the fight against the coronavirus pandemic.

                </p>
              <img src="../img/icfj.png" alt="logo icfj" width="300px"/>
              <img src="../img/volt.png" alt="logo icfj" width="210px"/>
              <!-- <a href="#" class="btn btn-default btn-xl wow tada">Subscribe Now!</a> -->
          </div>
      </div>
  </aside>
