  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>This project</h2>
              <p>The Science Pulse is sponsored by the <a href="https://icfj.org" target="_blank">International Center for Journalists</a> with support from the <a href="https://knightfoundation.org/" target="_blank"> Knight Foundation</a>, and was developed by the data-driven agency <a href="https://voltdata.info" target="_blank">Volt Data Lab</a> to help inform journalists around scientific topics, especially for the fight against the coronavirus pandemic.

                </p>

                <div class="row">
                <div class="col-lg-2 col-lg-offset-2 text-center">
                    <img src="{{ site.baseurl }}/img/icfj.png" alt="logo icfj" width="300px"/>
                </div>
                <div class="col-lg-3 col-lg-offset-1 text-center">
                      <img src="{{ site.baseurl }}/img/volt.png" alt="logo icfj" width="210px" style="margin-top:37px"/>
                </div>
                <div class="col-lg-1 col-lg-offset-0 text-center">
                    <img src="{{ site.baseurl }}/img/agenciabori.png" alt="logo icfj" width="100px" style="margin-top:37px"/>
                </div>
          </div>
      </div>
  </aside>
