<style>
input{
  color: #fff;
  background: #1cd999;
  border-radius: 5px;

}
</style>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Connect with us</h2>
                <hr class="primary">
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
          <a href="{{ site.baseurl }}/news">
              <i class="fa fa-envelope wow bounceIn" data-wow-delay=".1s"></i>
          </a>



        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}/science-pulse-public">
            <i class="fa fa-github wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>
