<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Connect with us</h2>
                <hr class="primary">
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o wow bounceIn" data-wow-delay=".1s"></i>
            </a>
            <p>SUBSCRIBE OUR NEWSLETTER
              <form action="https://www.getrevue.co/profile/nucleo/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">

                <input class="revue-form-field" placeholder="your email" type="email" name="member[email]" id="member_email" style="background-color:transparent;border: 2px solid #fff;padding:5px 7px" >
                <input class="page-scroll" type="submit" value="submit" name="member[subscribe]" id="member_submit" style="background-color:#ababab;border-radius: 5px;border:0px;padding:5px 7px;">
                </form>
                </p>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>
