<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Connect with us</h2>
                <hr class="primary">
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
              <form style="border:0px solid #ccc;text-align:center;" action="https://tinyletter.com/sciencemonitor" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/sciencemonitor', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                <label for="tlemail">NEWSLETTER</label>
                <p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" style="color:black" /></form>

        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>
