<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Enhanced discovery</h2>
                <hr class="light">
                <p class="text-faded">Instead of following hundreds of new people at once and get lost in your news feed, we gathered in one place profiles and trends that can help your reporting. Our database includes over 1,200 profiles of experts, scientists, organizations and scientific initiatives. </p>
                <a href="about" class="btn btn-default btn-xl">Know more</a>
            </div>
        </div>
    </div>
</section>
