<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <title>{%if page.title %} {{ page.title }} | Science Pulse {% else %} Science Pulse {% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css" type="text/css">


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="science, scientific knowledge, data journalism, journalism, covid19, covid-19, coronavirus"/>
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">


    <meta property="og:site_name" content="Science Pulse">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Science Pulse{% endif %}" />
    <meta property="og:description" content="{% if page.social_description %}{{ page.social_description }}{% else %}{{ site.description }}{% endif %}" />

    <!-- FACEBOOK -->
    <meta property="og:image" content="{% if page.background %}https://sciencepulse.org/img/{{ page.background }}{% else %}{{ site.baseurl }}/img/header_red.jpeg{% endif %}" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Whatsapp -->
    <meta property="og:image" content="{% if page.background %}https://sciencepulse.org/img/{{ page.background }}{% else %}{{ site.baseurl }}/img/header_red.jpeg{% endif %}" />
    <meta property="og:image" content="" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@thesciencepulse" />
    <meta name="twitter:creator" content="@thesciencepulse" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}Science Pulse{% endif %}" />
    <meta name="twitter:description" content="{% if page.social_description %}{{ page.social_description }}{% else %}A bridge between science and journalism on social media{% endif %}" />
    <meta name="twitter:image" content="{% if page.background %}https://sciencepulse.org/img/{{ page.background }}{% else %}https://raw.githubusercontent.com/voltdatalab/science-monitor-site/master/img/header_red.jpeg?token=ADHW5HTWNKOX2TIUQXUDAH266TUYQ{% endif %}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169741376-1"> </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-169741376-1');
    </script>

</head>
