<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Descubra o que realmente importa</h2>
                <hr class="light">
                <p class="text-faded">Em vez de você seguir muitos perfis e se perder para para acompanhar os últimos destaques da ciência, o <strong style="color:#fff">Science Pulse</strong> reúne em um só lugar as publicações e tendências que podem ajudar no seu trabalho. Nosso banco de dados inclui milhares de perfis de cientistas, especialistas e até organizações.</p>
                <a href="about" class="btn btn-default btn-md">Saiba mais</a>
            </div>
        </div>
    </div>
</section>
