  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2></h2>
              <p>
                Science Pulse é um projeto liderado pelo jornalista Sérgio Spagnuolo, fundador da agência <a href="https://voltdata.info" target="_blank">Volt Data Lab</a> e Knight Fellow do <a href="https://icfj.org" target="_blank">International Center for Journalists (ICFJ)</a>. O projeto é apoiado pelo ICFJ e pela agência brasileira de jornalismo científico <a href="https://abori.com.br/" target="_blank">Bori</a>.
                </p>
                <div class="row">
                <div class="col-lg-2 col-lg-offset-2 text-center">
                    <img src="{{ site.baseurl }}/img/icfj.png" alt="logo icfj" width="300px"/>
                </div>
                <div class="col-lg-3 col-lg-offset-1 text-center">
                      <img src="{{ site.baseurl }}/img/volt.png" alt="logo icfj" width="210px" style="margin-top:37px"/>
                </div>
                <div class="col-lg-1 col-lg-offset-0 text-center">
                    <img src="{{ site.baseurl }}/img/agenciabori.png" alt="logo icfj" width="100px" style="margin-top:37px"/>
                </div>
          </div>
      </div>
  </aside>
