<style>
input{
  color: #1cd999;
  background: #fff;
  border-radius: 5px;
}
</style>
<!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>SOBRE O PROJETO</h6>
          <p class="text-justify"><strong>Science Pulse</strong> é uma ferramenta de <em>social listening</em> desenhada para reduzir a lacuna entre jornalismo e ciência nas redes sociais. O projeto é liderado pelo jornalista e Knight Fellow Sérgio Spagnuolo, fundador da agência de dados <a href="https://voltdata.info" target="_blank">Volt Data Lab</a>, e possui apoio do <a href="https://icfj.org" target="_blank">International Center for Journalists (ICFJ)</a>, assim como parceria da <a href="https://abori.com.br/" target="_blank">Agência Bori</a>.</p>
        </div>

        <div class="col-xs-6 col-md-2">
          <h6>RECURSOS</h6>
          <ul class="footer-links">
            <li><a href="https://forms.gle/Fg4cwTcDggWC2BTe9">Feedback</a></li>
            <li><a href="https://forms.gle/iQ7aYHqDyHicmx198">Sugira um perfil</a></li>
            <li><a href="metodologia">Metodologia</a></li>
            <li><a href="news">Newsletter</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-2">
          <h6>CONHEÇA</h6>
          <ul class="footer-links">
            <li><a href="about">Sobre o projeto</a></li>
            <li><a href="privacidade">Política de privacidade</a></li>
            <li><a href="https://www.icfj.org/our-work/knight/icfj-knight-fellowships">ICFJ Knight Fellowships</a></li>
            <li><a href="https://www.voltdata.info">Volt Data Lab</a></li>
          </ul>
        </div>
      </div>
      <hr style="width: 100% !important;max-width:100%">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text"><a href="license">2020 - Este projeto é open source, distribuído sob a licença MIT.</a>.
          </p>
          <ul class="social-icons">
            <li><a class="twitter" href="https://twitter.com/thesciencepulse"><i class="fa fa-twitter"></i></a></li>
            <li><a class="github" href="https://github.com/voltdatalab/science-pulse-public"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-12">

        </div>
      </div>
    </div>
</footer>
