<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">O Science Pulse, em poucas palavras</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>Curadoria</h3>
                    <p class="text-muted">Acompanhamos milhares de perfis de cientistas e mostramos tendências e destaques.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>Métricas próprias</h3>
                    <p class="text-muted">O Science Pulse possui seu próprio algoritmo para mostrar o que realmente importa sobre ciência.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>Filtros avançados</h3>
                    <p class="text-muted">Você pode refinar suas buscas a partir de diversos parâmetros de pesquisa.</p>
                </div>
            </div>
        </div>
    </div>
</section>
