html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
}

hr {
    border-color: #2eefa0;
    border-width: 3px;
    max-width: 50px;
}

::placeholder{
  color: #fff;
  text-align: center;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}

h2{
  margin: 40px 0 10px
}

h3{
  color: #231f20;
  font-size: 1.2em;
  margin: 40px 0 10px
}

h4{
  color: #c7254e;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0px;
}

h5{
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.5em;
}

p {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-primary;
}

.bg-dark {
    background-color: #eeeeee;
    color: black;
}

.text-faded {
    color: rgba(white, .7);
}

section {
    padding: 100px 0;
}

#contact {
    padding: 30px 0 50px;
    background-color: #d91c5c;
    color: #fff
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation

.navbar-default {
    background-color: transparent;
    border-color: rgba($theme-dark, 0);
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: #d91c5c !important;
        @include sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: #d91c5c;
        }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                color: #d91c5c !important;
                &:hover {
                    color: #1cd999;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: #d91c5c !important;
                    background-color: #fff;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        /*border-color: rgba(white, .3);*/
        .navbar-header .navbar-brand {
            color: #d91c5c;
            &:hover,
            &:focus {
                color: #d91c5c;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: #d91c5c;
            &:hover {
                color: #1cd999;
            }
        }
        &.affix {
            background-color: #fff !important;;
            border-color: #d91c5c;
            img{
              width: 90px;
            }
            .navbar-header .navbar-brand {
                color: #d91c5c !important;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: #d91c5c;
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: #d91c5c !important;
                &:hover {
                    color: #1cd999;
                }
            }
        }
    }
}

// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;
    @include background-cover;
    background-position: top;
    /*background: url('../img/header.jpg') rgba(0, 0, 0, 0.1);*/
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url('../img/pulse-header.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
                background: rgba(255,255,255,0.8);
                color: #231f20;
                display: inline;
                text-shadow: white 0px 0px 1px;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 400;
                color: #231f20;
                text-shadow: white 0px 0px 1px;
                background: rgba(255,255,255,0.8);
                display: inline;
                font-size: 24px !important;
                margin-bottom: 50px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity: 0;
        display: block;
        background: rgba( $theme-primary, .9 );
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                @include sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Contact
#contact .fa {
    color: #fff;
    font-size: 2.5em;
}

input{
  background: #d91c5c !important;
  border: none;
  padding: 7px 5px;
  width: 50%
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}
