<!DOCTYPE html>
<html>
	{% include head.html %}
  <meta http-equiv="refresh" content="1;url={{ site.baseurl }}/{{ page.redirect }}"/>
  <link rel="canonical" href="{{ page.redirect }}"/>
  <script type="text/javascript">
          window.location.href = "{{ site.baseurl }}/{{ page.redirect }}"
  </script>

	<body style="">
		<!-- índice simples de matérias  -->
							<div class="container page-in" style="max-width: 540px">


                  <h3>Caso não seja automaticamente redirecionado, o Science Pulse está atualmente neste link: <a href="https://nucleo.jor.br/sciencepulse">nucleo.jor.br/sciencepulse</a></h3>

									<h3>In case your are not automatically redirected, Science Pulse is currently hosted here: <a href="https://nucleo.jor.br/sciencepulse">nucleo.jor.br/sciencepulse</a></h3>

                    </div>
</body>
</html>
